{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/swiper.min.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/reset.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'courseInformation/css/courseInformation.css'%}" />

    <script type="text/javascript" src="{% static 'config/conf.json' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'main/js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'main/js/swiper.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'courseInformation/js/courseInformation.js' %}"></script>


</head>
<body>

    <header>
        <div class="container">

            <form action="" class="parent">
                <span><a href="/home/" style="font-size: 0.5rem;
                                        margin-left: -0.5rem;
                                        display: inline-block;
                                        margin-top: 0.2rem;">返回</a></span>
                <input type="text" class="search" placeholder="请您输入大学名称" style="left: 0.9rem;font-size: 0.45rem;padding: 0.5rem;border-radius: 0.5rem;background: #80808075;" >
                <input type="submit" name="" id="" value="搜索" class="btn" style="border-bottom-right-radius: 0.5rem;
                                                                                        border-top-right-radius: 0.5rem;
                                                                                        top: 0rem;
                                                                                        height: 1.06rem;
                                                                                        width: 1.5rem;
                                                                                        left: 6.89rem;
                                                                                        font-size: 0.5rem;">
            </form>
        </div>
    </header>

    <div style="padding-top: 1.5rem;padding-bottom: 1.5rem">
        <ul style="background: white;padding:0rem 0.2rem 0.2rem 0.2rem;">
             <li style="border-bottom: 0.02rem solid #808080d1;height: 1.4rem">
                 <div style="float: left">
                     <img src="/static/mdeia/{{ courseInfo.userphone }}.png" style="width: 1.2rem;height: 1.2rem;border-radius: 50%;margin-right: 0.2rem" >
                 </div>
                 <div>
                     <p>{{ courseInfo.userName }}</p>
                     <p style="font-size: 0.4rem;color: gray;">{{ university }}</p>
                 </div>

            </li>

            <li style="background: white;height: 1.4rem;padding-top: 0.2rem">
                <span style="font-size: 0.8rem;color: red;">{{ courseInfo.price  }}元</span>
            </li>
{#            <li style="background: white;">#}
{#                <p>喜欢联系我</p>#}
{#            </li>#}
            <li style="background: white;padding-top: 0.7rem;">
                <span style="font-size: 0.6rem;font-weight: 400;">详情描述</span>
{#                <p style="color: red;padding-bottom: 0.2rem">:</p>#}
                <p style="white-space: pre-line;">{{ courseInfo.publish_text }}</p>
            </li>
            <li style="background: white;text-align: center;padding-top: 0.4rem"  >
                <img src="/static/course/{{ courseInfo.orderId }}.png" style="width: 9rem;height: 6rem;border-radius: 0.4rem;">
            </li>
        </ul>
        <ul style="background: white;margin-top: 0.4rem;padding: 0.2rem;margin: 0.1rem;border-radius: 0.3rem">
            <li style="border-bottom: 0.02rem solid #808080d1;height: 1.1rem">
                <span style="font-size: 0.6rem;font-weight: 600;">全部留言</span>
            </li>
            <li style="text-align: center;height: 7rem;padding-top: 0.5rem">
                <img src="/static/advertisement/describe.png" alt="" style="width: 4rem;height: 4rem">
                <p style="padding: 0.3rem;color: gray;">还未留言，赶快抢沙发！</p>
                <button style="background: yellow;
                                border: none;
                                border-radius: 0.2rem;
                                width: 2rem;
                                height: 1rem;">留言</button>
            </li>

        </ul>
    </div>

    <footer>
        <ul>
            <li id="sayGood" style="width: 1.5rem;text-align: center;">
                <dl>
                    <dt><span class="glyphicon glyphicon-thumbs-up" style="font-size: 0.7rem;" aria-hidden="true"></dt>
                    <dd style="font-size: 0.4rem">点赞</dd>
                </dl>
            </li>

            <li id="collect" style="position: absolute;
                                        text-align: center;
                                        top: 0rem;
                                        left: 1.5rem;">
                 <dl>
                    <dt><span class="glyphicon glyphicon-star-empty" style="font-size: 0.7rem;" aria-hidden="true"></span></dt>
                    <dd style="font-size: 0.4rem">收藏</dd>
                </dl>
            </li>
            <li>
                <button  id="iwant" want="{{ courseInfo.orderId }}" style="background: #ff0000d9;font-size: 0.5rem;
                                                border: none;
                                                border-radius: 0.3rem;
                                                height: 1rem;
                                                position: absolute;
                                                right: 0.6rem;
                                                top: 0.2rem;
                                                color: white;
                                                width: 2rem;">我想要</button>

            </li>
        </ul>

    </footer>
</body>
</html>