#publish{
  width: 100%;
  height: 92%;
  position: absolute;
  z-index: 999;
  background: whitesmoke;
  overflow: hidden;
}
#publish_div{
    width: 100%;
    height: 5rem;
    overflow: hidden;

}

#upload_img li{
    float: left;
    list-style-type: none;
}
#publish ul li{
    list-style-type: none;
    float: left;
    width: 33.33333333%;
    text-align: center;
    font-size: 0.6rem;
}
